{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Polls/css/poll.css' %}">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href="{% url 'polls:create-poll' %}">Create New Poll</a> | <a href="{% url 'accounts:logout' %}">Logout</a> | Current user: {{ user}}
    {% else %}
        <a href="{% url 'polls:create-poll' %}">Create New Poll</a> | <a href="{% url 'accounts:login' %}">Login</a>
    {% endif %}

    {% for poll in polls %}
        <a href="{% url 'polls:view-poll' poll.user.username poll.slug %}">
            <div class="card" style="width: 18rem;border:solid 1px black;">
                <img src="{% static 'Polls/img/default.jpg' %}" class="card-img-top" alt="{{ poll.title }}" style="width:100%;">
                <div class="card-body">
                    <p class="card-text">{{ poll.title }}</p>
                    <p class="card-text">{{ poll.description }}</p>
                    <small>{{ poll.status }} | by {{ poll.user.username }}| share</small> 
                    {% if user == poll.user %}
                        <p>
                            <a href="{% url 'polls:edit-poll' user.username poll.slug %}">edit</a>
                        </p>
                    {% endif %}

                </div>
            </div>
        </a>
    {% endfor %}
</body>
</html>